<%- include('partials/head') %>
<%- include('partials/nav') %>
<main class="container">
  <h1>Our Story</h1>
  <p>Share your journey here. You can edit this text in <code>views/our-story.ejs</code>.</p>
</main>
<%- include('partials/footer') %>
