<%- include('partials/head') %>
<%- include('partials/nav') %>
<main class="container">
  <h1>Registry</h1>
  <ul>
    <li><a href="#">Amazon</a></li>
    <li><a href="#">Target</a></li>
    <li><a href="#">Honeyfund</a></li>
  </ul>
</main>
<%- include('partials/footer') %>
